DBCredentialsModel.cs
.vs/DotCoreExample/FileContentIndex/
.vs/DotCoreExample/v17/.futdcache.v2
.vs/ProjectEvaluation/
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
DotCoreExample/bin/Debug/net6.0/Microsoft.DotNet.PlatformAbstractions.dl
DotCoreExample/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
DotCoreExample/bin/Debug/net6.0/Newtonsoft.Json.dll
DotCoreExample/obj/Debug/net6.0/project.razor.vs.json
